body{
    background-color: rgb(0, 58, 166);
    font-family: Arial, Helvetica, sans-serif;
}
/* This is for navigation ber */
#navbar{
    color: rgb(254, 237, 0);
    background-image: url(/BD_food/img/backround.jpg);
    font-size: 23px;
    font-family: Arial;
    font-weight: bold;
    padding: 2rem;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
m {
    color: rgb(255, 0, 0);
    visibility: hidden;
}
a{
    text-decoration: wavy;
    color: rgb(230, 204, 204);
}
#title{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.995);
    text-align: center;
    background-image: url(/BD_food/img/backround.jpg);
    padding: 90px;
    margin-top: 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
#highlight{
    color: yellow;
    font-weight: 700;
    font-size: 40px;
}
#subtitle{
    font-size: 15px;
    color: rgb(255, 255, 255);
    
    
}
#sec1{
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    border: solid rgb(221, 213, 213);
    border-radius: 20px;
    

}
j{
    color: rgba(234, 255, 0, 0.879);
}
#footer{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 90px;
    padding: 20px;
    background-image: url(/BD_food/img/backround.jpg);
}
h2{
    color: rgb(255, 251, 0);
}
/* This is for image */
#image{
    padding-left: 7rem;
    flex: auto;
    margin-top: 20px;

}
img{
    border-radius: 20px;
    border: hidden;
    box-shadow: 1px 5px 30px rgb(0, 0, 0);
}
#list{
    text-align: start;
    color: rgb(166, 255, 0);
    padding: 20px;
    margin-right: 350px;
    border-radius: 20px;
}
#listbox{
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.304);
    padding: 20px;
    border: none;
    border-radius: 30px;
}
#foodpic{
    color:yellow;
    text-align: center;
    font-size: 20px;
    
}
#info{
   text-align: start;
   padding: 20px;
   font-size: 15px;
}